.jdc {
    background-color: white;
}
.dimsText{
    font-family:"Verdana";                                         
    font-size:16px;                                             
}
.jdcExitenceG{
    cursor: pointer;
}
.jdcRapportG{
    cursor: pointer;
}
.jdcPhysiqueG{
    cursor: pointer;
}
.jdcActantG{
    cursor: pointer;
}
.jdcConceptG{
    cursor: pointer;
}